body{
padding: 0px;
margin: 0px;
box-sizing: border-box;
background:url('bg.jpg') ;
background-repeat: no-repeat;
background-size: cover;

}
button{
  width: 20%;
  height: 50px;
  background-color: blue;
  border: 2px solid red;
font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  border-radius: 50px;
  color: white;
  transition: 0.5s;
  margin-top: 25%;
  margin-left: 40%;
  margin-bottom: auto;
  margin-right: auto;
  cursor: pointer;
  transform: rotate('45deg');
 
}
button:hover{
background-color: green;
cursor: pointer;


}
button.close{
  background-color: red;
  border:none;
  border-color: none;
  float: right;
  margin-top: -1%;
  width: fit-content;
  height: fit-content;
  display: inline-block;

}
h1{
  width: fit-content;
  height: fit-content;
  color: green;
 margin-left: 15%;
 display: inline-flex;
}
h3{
  margin-top: -2%;
  margin-left: 5%;
}
div.otp{
margin-left: 30%;


}
a.change{
  text-decoration: none;
  font-size: 20px;
  color: blue;
 
}
a.resend{
  margin-left: 35%;
  text-decoration: none;
  font-size: 20px;
  color: blue;
 
}
a.verify{
  background-color: green;
  width:fit-content;
 padding: 15px;
  border-radius: 50px;
  color: white;
  height: 100px;
  font-size: 20px;
 margin-left:23%;
  text-decoration: none;
  cursor: pointer;
}
h5{
margin-left: 30%;
}
